*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .main{
    overflow: hidden;
} fix lỗi hiển thị responsive khi k tìm đc lỗi */
.clear{
    clear: both;
}
.text-while{
    color: #fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.mt-32{
    margin-top: 32px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.col-third{
    width: calc(100% / 3);
}

html{
    font-family:Arial, Helvetica, sans-serif ;
    /* cuộn */
    scroll-behavior: smooth;
}

#main {
    
}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* để header được nổi lên trên slider */
    z-index: 1;
    /* ẩn menu khi ở mobile(ẩn các thẻ con bị dư ra khỏi thẻ cha) */
    
}
#nav{
    display: inline-block;
    
}

#nav li{
    display: inline-block;
    position: relative;
    
    
    
}
#nav>li:first-child{
    display: inline-block;
}
#nav .subnav{
    list-style-type: none;
}
#nav li:hover{
    background-color: #ccc;
    color: #000;
}

#nav> li> a{
    color: white;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    
}
#nav li:hover .subnav{
    display: block;
    animation: Menu ease 0.4s;
}

#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 40px;
    
}
#nav .subnav li{
    width: 100%;
}
.nav-arow-down{
    font-size: 12px;
}
.mobile-menu{
    /* position: absolute;
    top: 0;
    right: 0; */
    display: none;
}
.mobile-menu,
.search-btn{
    float: right;
    line-height: 46px;
    padding: 0 21px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.mobile-menu:hover{
    color: #000;
    background-color: #ccc;
}
.search-btn:hover{
    background-color: #f44336;
}
.mobile-menu,
.search-btn .ti-search{
    color: white;
}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url(/assert/css/img/slider/pexels-sonny-sixteen-14693027.jpg),url(/img/200x200.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    color: #fff;
    text-align: center;
}
.text-heading{
    font-family: 500;
    font-size: 24px;

}
.text-dicription{
    margin-top:25px ;
    font-size: 15px;
}
#content {
    height: 500px;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px 16px;
}
#content .section-heading{
    text-align:center ;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align:center ;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

.text-center{
    text-align: center !important;
}
#content .member-list{
    padding-top: 32px; 
}

#content .member-name{
    font-size: 15px;
    
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
.tuor_section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom:1px solid #ddd ;
    list-style-type:none ;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.places-list{
    margin-top: 16px;
    /* margin-left: -8px; */
    /* margin-right: -8px; */
    /* padding-bottom: 48px; */
}
/* .place-item{
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
} */
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.6;
}
.btn{
    /* width: 180px; */
    /* height: 45px; */
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    margin-top:15px ;
    cursor: pointer;
    border:none ;
    appearance: none;
    /* chạy css trên trình duyệt của iphone */
    -webkit-appearance: none;
}
.pull-right{
    float: right;
}
.btn:hover{
    cursor: pointer;
    background-color: #3eadee;
    color: #000;
    box-shadow: 0 0 10px rgba(39, 26, 226, 0.5);
}
.contact-content{
    margin-top: 48px ;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
    
}
.contact-info a{
    color: #101aef;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 11px;
    border: solid 1px #ccc;
    width: 100%;
    outline: none;
}
.contact-form .form-submit{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;
}
.search-input{
    display: none;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    animation: Input ease 0.5s;
}
.rong{
    width: 100px;
    height: 30px;
    border-radius:10px ;
    background-color: #fff;
    
    
}
.map-section img{
    width: 100%;
}
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    text-decoration: none;
    color: #757575;
}
#footer .copyright a:hover,
#footer .socials-list a:hover{
    opacity: 0.6;
}
#footer .copyright{
    margin-top: 15px;
    
}
#footer .copyright a{
    color: #757575;
}
.model{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.model-open{
    display: flex;
}
.model-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modelFaceIn ease 0.4s;
}
.model-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
    
}
.model-close:hover{
    opacity:1 ;
    background-color: #f44336;
}
.ti-close{


}
.model-header{
    height: 120px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.model-heading-icon{
    margin-right: 16px;

}
.model-body{
    padding: 16px;
}
.model-label{
display: block;
font-size: 15px;
}
.ti-shopping-cart{


}
.model-input{
    font-size: 15px;
    padding:10px ;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 24px;
}
.model-label{
    margin-bottom: 12px;
}
.ti-user{


}
#buy-tickets{
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}
#buy-tickets:hover{
    opacity: 0.5;
}
.model-footer{
    padding: 16px;
    text-align: right;
    
}
.model-footer a{
    color: #2196f3;
}
@keyframes modelFaceIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Input {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Menu {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
